.forms_field {
  position: relative;
}
.forms_field .input_label {
  position: absolute;
  left: 0px;
  top: 5px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  z-index: -1;
  -webkit-transform: perspective(100px);
          transform: perspective(100px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.forms_field input:focus + .input_label, .forms_field input:valid + .input_label {
  color: #291540;
  -webkit-transform: translateY(-1em) scale(0.75) perspective(100px) translateZ(-0.001px);
          transform: translateY(-1em) scale(0.75) perspective(100px) translateZ(-0.001px);
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type="submit"] {
  cursor: pointer;
}

/**
 * Page background
 */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.user_options-container {
  position: relative;
  width: 80%;
  max-width: 800px;
}
.user_options-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(7, 3, 12, 0.85);
  border-radius: 5px;
}

/**
 * Registered and Unregistered user box and text
 */
.user_options-unregistered {
  width: 50%;
  padding: 75px 45px;
  color: #fff;
  font-weight: 300;
}

.user_unregistered-title {
  margin-bottom: 15px;
  font-size: 1.66rem;
  line-height: 1em;
}

.user_unregistered-text {
  font-size: 0.83rem;
  line-height: 1.4em;
}

.user_unregistered-signup {
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.user_unregistered-signup:hover {
  color: rgba(7, 3, 12, 0.85);
  background-color: #ccc;
}

/**
 * Login and signup forms
 */
.user_options-forms {
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(50% - 30px);
  min-height: 420px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transform: translate3d(100%, -50%, 0);
          transform: translate3d(100%, -50%, 0);
}
.user_options-forms .forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: #a33643;
  letter-spacing: 0.1rem;
}
.user_options-forms .forms_field:not(:last-of-type) {
  margin-bottom: 20px;
}
.user_options-forms .forms_field-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 20px 6px 6px;
  font-size: 1rem;
  color: rgb(70, 70, 70);
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}
.user_options-forms .forms_field-input:focus {
  border-color: rgb(70, 70, 70);
}
.user_options-forms .forms_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.user_options-forms .forms_buttons-forgot {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  color: #7449A7;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-forgot:hover {
  color: #291540;
}
.user_options-forms .forms_buttons-action {
  background-color: #a33643;
  border-radius: 5px;
  padding: 10px 35px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-action:hover {
  background-color: #7d2933;
}
.user_options-forms .user_forms-login {
  position: absolute;
  top: 70px;
  left: 40px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.user_options-forms .user_forms-login {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/**
 * Responsive 990px
 */
@media screen and (max-width: 990px) {
  .user_options-forms .forms_buttons {
    flex-direction: column;
  }
  .user_options-forms .user_forms-login .forms_buttons-action {
    margin-top: 30px;
  }
}
/**
 * Responsive 660px
 */
@media screen and (max-width: 660px) {
  .user_options-forms .user_forms-login {
    top: 40px;
  }

  .user_options-unregistered {
    padding: 50px 45px;
  }

  .user_options-container {
    width: 100%;
  }
  .user_options-container .user_options-text {
    border-radius: 0px;
  }
}
/**
 * Responsive 500px
 */
@media screen and (max-width: 500px) {
  .user {
    display: block;
  }
  .user .user_options-unregistered {
    padding: 20px;
    width: 100%;
  }
  .user .user_options-forms {
    top: 180px;
    -webkit-transform: initial;
            transform: initial;
    position: initial;
    width: 100%;
    border-radius: 0;
    min-height: 40vh;
  }
  .user .user_options-forms .forms_buttons {
    flex-direction: row;
  }
  .user .user_options-forms .user_forms-login {
    position: initial;
    padding: 20px;
    width: 100%;
  }
  .user .user_options-forms .user_forms-login .forms_buttons-action {
    margin-top: 0;
  }
  .user .user_options-forms .user_forms-login .forms_title {
    margin-bottom: 20px;
  }
}
@media screen and (max-height: 368px) {
  .user .user_options-forms {
    min-height: 250px;
  }
  .user .user_options-forms .user_forms-login {
    top: 20px;
    left: 20px;
  }
  .user .user_options-forms .user_forms-login .forms_buttons-action {
    margin-top: 0;
    margin-left: 5px;
  }
  .user .user_options-forms .user_forms-login .forms_buttons {
    margin-top: 25px;
    flex-direction: row;
  }
}
@media screen and (max-height: 368px) and (max-width: 600px) {
  .user .user_options-forms .user_forms-login .forms_buttons-action {
    padding: 10px 20px;
  }
}
