.HomePage {
  margin:0 auto;
  position: relative;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
}

.HomePage h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.HomePage h2 {
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

.HomePage .main-content {
  height: calc(100% - 50px);
  overflow-y: auto;
  padding: 0 40px 40px;
  margin-top: 50px;
}

.HomePage p {
  text-align: justify;
  font-weight: 400;
  margin-bottom: 5px;
}

.HomePage .top-bar {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 960px) {
  .HomePage {
    width: 90%;
  }
}

@media screen and (max-width: 840px) {
  .HomePage {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .HomePage {
    padding: 40px 10px;
  }
}

.myCheckBox {
  display: block;
  position: relative;
  padding-right: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.myCheckBox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.myCheckBox .control__indicator {
  position: absolute;
  top: 2px;
  right: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.myCheckBox:hover input ~ .control__indicator {
  background: #ccc;
}
.myCheckBox input:focus ~ .control__indicator {
  background: #ccc;
  border: 1px solid #362e2a;
  -webkit-box-shadow: 0px 0px 11px 7px rgba(255,255,255,0.73);
  -moz-box-shadow: 0px 0px 11px 7px rgba(255,255,255,0.73);
  box-shadow: 0px 0px 11px 7px rgba(255,255,255,0.73);
}
.myCheckBox input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.myCheckBox:hover input:not([disabled]):checked ~ .control__indicator,
.myCheckBox input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.myCheckBox .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.myCheckBox input:checked ~ .control__indicator:after {
  display: block;
}
.myCheckBox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}