.NavBar > div {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #650E39;
  padding: 12px 0 0 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.NavBar .title {
  position: fixed;
  display: block;
	top: 10px;
	font-size: 20px;
	left: 100px;
	right: 100px;
	text-align: center;
	color: #FFF;
}

.NavBar .title.small {
  display: none;
}

@media screen and (max-width: 500px) {
  .NavBar .title.small {
    display: inline-block;
  }
  .NavBar .title.large {
    display: none;
  }
}

@media screen and (max-width: 784px) {
  .NavBar .title {
    position: static;
    display: inline-block;
  }
}

.NavBar button {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0;
	background-color: transparent;
	font-weight: 400;
	padding: 12px;
	line-height: 26px;
}
